
.coverage
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

.venv

.claude/settings.local.json
.env
.ruff_cache
.vscode/launch.json
.mypy_cache

scratch.ipynb
**/.ipynb_checkpoints
data
**/.adk
